.header-container{
  display: flex;
  justify-content: center;
}
.header{
  font-size: 5rem;
  font-weight: 700;
  font-family: sans-serif;
  opacity: 0.5;
}


/* Reusable */
.border{
  border: 1px solid black;
}
/* TODOS */

.todo-part{
  display: flex;
  justify-content: center;
}
.todos-container{
  width: 70%;
  min-height: 300px;
}

/* INPUT */

.input{
  width: 99%;
  height: 100%;
  outline: none;
  background-color: blanchedalmond;
  font-size: 2em;
}

/* Todo */
.todo{
  width: auto;
  height: 3em;
  background-color: #f2f2f2;
  margin: 0.2em;
  border-radius: 1em;
  padding: 0.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mark{
  height: 2.5em;
  width: 2.5em;
}
.todo span{
  font-size: 2.5em;
}

/* X */
.x-icon{
  margin-right: 25px;
  cursor: pointer;
}
.remove-x{
  opacity: 0.3;
}
.remove-x:hover{
  opacity: 1;
}

/* ACTIVE COMPLITED */
.complited input{
  text-decoration: line-through;
  opacity: 0.5;
}
.complited {
  text-decoration: line-through;
  opacity: 0.4;
}

/* BUTTONS */
.buttons-container{
  display: flex;
  justify-content: center;
}
.buttons-container button{
  padding: 0.5em 0.8em 0.5em 0.8em;
  margin: 0.2em 0.6em;
  outline: none;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}
.buttons-container button:hover{
  background-color: lightgrey;
}
.select{
  background-color: grey;
}